{
  "trailingComma": "all",
  "printWidth": 100,
  "singleQuote": false,
  "importOrder": ["^react(.*)", "^@(.*)", "<THIRD_PARTY_MODULES>", ".styled$", "(.css)", "(images)", "(icons)", "^[./]", "@/(.*)"],
  "importOrderSeparation": false
}
